{% extends 'layouts/main.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}New Show Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new show</h3>
      {{ form.csrf_token }}
      {{ wtf.form_field(form.artist_id, autofocus = true) }}
      {{ wtf.form_field(form.venue_id, autofocus = true) }}
      {{ wtf.form_field(form.start_time, autofocus = true) }}
      {{ form.submit(class_ = 'btn btn-primary btn-lg btn-block') }}
    </form>
  </div>
{% endblock %}